.title {
  text-align: center;
  font-weight: bold;  
}
.chat-box-container {
  bottom: 0;
  width: 100%;
  position: fixed;
  background: white;
  padding: 10px 0;
}
.chat-send-btn {
  padding: 6.1px;
  border-radius: 10em;
  width: 9%;
  border-radius: 50%;
  background: linear-gradient(40deg,#ff6ec4,#7873f5);
}
.icon {
  font-size: .8rem;
  padding-top: 1;
  color: white;
  margin: 0 .4rem;
}
.msg-text-box {
  padding-left: 1em;
  border-radius: 10em;
  width: 83%;
  border: 1px solid lightgray;
  margin-left: .3em;
}
.v-scroll-card {
  display: inline-flex ;
  width: 72%; /* Changed from 60% to 40% to accommodate all the cards and make their size uniform*/
  margin-right: 0.4rem;
}
.spotify {
  position: absolute;
  margin-top: -160px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: .3rem;
}
.v-scroll-row {
  overflow-x: auto;
  white-space: nowrap;
  height: 20em;
  overflow-y: hidden;
  margin: 0.1em 0.4rem 0 0.4rem;
}
@media only screen and (min-width:320px ) and (max-width: 374px) {
  .msg-text-box {
    width: 78%
  }
  .v-scroll-card {
    width: 85%;
  }
}
@media only screen and (min-width:375px ) and (max-width: 425px) {
  .msg-text-box {
    width: 81%
  }
  .v-scroll-card {
    width: 73%;
  }
}
@media only screen and (min-width:426px ) and (max-width: 556px) {
  .msg-text-box {
    width: 84%
  }
  .v-scroll-card {
    width: 70%;
  }
}
@media only screen and (min-width:557px ) and (max-width: 736px) {
  .msg-text-box {
    width: 86%
  }
  .v-scroll-card {
    width: 40%;
  }
}
@media only screen and (min-width:737px ) and (max-width: 768px) {
  .msg-text-box {
    width: 91%
  }
  .v-scroll-card {
    width: 40%;
  }
}
@media only screen and (min-width:769px ) and (max-width: 1024px) {
  .msg-text-box {
    width: 93%
  }
  .v-scroll-card {
    width: 28%;
  }
}
@media only screen and (min-width:1025px ) and (max-width: 1440px) {
  .msg-text-box {
    width: 95%
  }
  .v-scroll-card {
    width: 20%;
  }
}
@media only screen and (min-width:1441px ) and (max-width: 2560px){
  .msg-text-box {
    width: 95%
  }
  .v-scroll-card {
    width: 11%;
  }
  .spotify {
    margin-top: -293px;
  }
  .v-scroll-row {
    height: 27em;
  }
}
.card-img {
  width: 100%;
  height: 25vh;
}
.v-scroll-row {
  overflow-x: auto;
  white-space: nowrap;
  height: 20em;
  overflow-y: hidden;
  margin: 0.1em 0.4rem 0 0.4rem;
}
.card-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: black;
  height: 5vh;
  text-overflow: ellipsis;
}
.card-text {
  font-size: 0.7rem;
  max-height: 13vh;
  min-height: 13vh;
  text-overflow: ellipsis;
}
.card-body {
  padding: 0.6rem;
  white-space: normal;
}
.msg-list-container {
  max-height: 43em;
  overflow-y: scroll;
}
.list-group-item {
  padding: 0;
  border: none;
}
.msg {
  max-width: 95%;
  border-radius: 1em;
  border: 1px solid gray;
  padding: .4em .7em;
  margin-bottom: 0.5em;
  margin: .2em;
  font-size: 14px;
}
.msg-time {
  font-size: 10px;
  display: block;
}
.msg-left {
  float: left;
  text-align: left;
}
.msg-right {
  float: right;
  text-align: right;
  background: #ff572242;
}
.spotify {
  position: absolute;
  margin-top: -160px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: .3rem;
}
.spotify-audio {
  display: block;
  width: 100%;
}
.width-100 {
  width: 100%;
}