<div class="align-center">
  <strong>MESSAGES</strong>
</div>
<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let message of messages; let i = index;"
      ngClass="i % 2 === 0 ? 'alert-success': 'alert-danger'">
      {{message.message}}
  </li>
</ul>
<!--Card-->
<div *ngIf="suggestions" class="v-scroll-row">
  <div class="card v-scroll-card" *ngFor="let video of suggestions">
    <a [href]="video.videoUrl">
      <!--Card image-->
      <img class="card-img" 
          [src]="video.mediumTN"
          [alt]="video.title">
      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h6 class="card-title">{{ video.title | trimmer: 70 }}</h6>
        <!--Text-->
        <p class="card-text">{{ video.description | trimmer: 150 }}</p>
        <!-- <a href="#" class="btn btn-primary">Button</a> -->
      </div>
    </a>
  </div>
</div>
<!--/.Card-->
<hr>
<div class="chat-box-container">
  <input type="text" 
         class="msg-text-box" 
         placeholder="Don't be shy! Break the ice!" 
         [(ngModel)]="textMessage"
         (keyup.enter)="queryDialogFlow(textMessage)">
  <a class="chat-send-btn" (click)="textMessage.length === 0 ? startRecognition() : queryDialogFlow(textMessage)">
    <i class="fa icon" [ngClass]="textMessage.length === 0 ? 'fa-microphone' : 'fa-paper-plane'"></i>
  </a>
</div>