<ngb-carousel>
    <ng-template ngbSlide *ngFor="let contentItem of slideContent">
        <img [src]="contentItem.imageUrl" 
             class="carousel-img width-100" 
             alt="Random first slide">
        <div class="carousel-caption">
            <h3>{{contentItem.title}}</h3>
            <p>{{contentItem.description}}</p>
        </div>
    </ng-template>
</ngb-carousel>
<div>
    <button type="button" 
            class="btn btn-deep-orange start-btn width-100"
            (click)="navigateToChat()">
            Let's Start
    </button>
</div>